body {
    margin: 0;
    font-family: "Retro Gaming";
    background-color: #000818;
}
.header {
    text-align: center;
    background-color: #181818;
    padding: 10px;
} 

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

h1, h2 {
    color: rgb(247, 201, 0);
    font-size: 65px;
    margin: 0;
}

h2 {
    margin: 20px;
    font-size: 50px;
}

p {
    font-size: 20px;
    margin: 5px 0;
}

h3 {
    color: rgb(255, 208, 0);
    margin-bottom: 0;
}

p, h2 {
    color: white;
}

button {
    font-size: 72px;
    margin: 0 10px;
    background: #161616;
    border: none;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid white;
}

.choices {
    margin-top: 10px;
}

.matchScore  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scores {
    display: flex;
    gap: 25px;
    margin: 20px 10px;
}

button:hover {
    border: 2px solid rgb(255, 208, 0);
}

#winner {
    margin-top: 30px;
}